<%- include("../partials/header") %>

<div class="row justify-content-center">
        <div class="col-md-12 text-center">
            <h1>Create a New Hotel</h1>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-4">
            <form action="/campgrounds" method="POST">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input class="form-control" type="text" name="name" id="name" placeholder="Radisson Blu">
                </div>
                <div class="form-group">
                    <label for="image">Image URL</label>
                    <input class="form-control" type="text" name="image" id="image" placeholder="Enter Resort Image" required>
                </div>
                <div class="form-group">
                    <label for="price">Cost</label>
                    <input class="form-control" type="number" name="price" id="price" placeholder="9.99" step="0.01" min="0" required>
                </div>
	            <div class="form-group">
	                <label for="location">Location</label>
	                <input class="form-control" type="text" name="location" id="location" placeholder=" O'Connell Street, Australia">
                </div> 
	            <div class="form-group">
	                <label for="timings">Timings</label>
	                <input class="form-control" type="text" name="timings" id="timings" placeholder=" 9am to 2pm, all week">
                </div>
	            <div class="form-group">
	                <label for="site">Web Site</label>
	                <input class="form-control" type="text" name="site" id="site" placeholder=" radissonbluOfficial@hotmail.com">
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <input class="form-control" type="text" name="description" id="description" placeholder="Enter Description">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit</button>
                </div>
            </form>
            <a href="/campgrounds">Go Back</a>
        </div>
    </div>


